* {
    box-sizing: border-box;
}

body {
    height: 95vh;
    background-color: rgb(230, 230, 230);
    display: flex;
    align-items: center;
    justify-content: center;
}

p {
    position: absolute;
    top: 0.5rem;
    left: 0.5rem;
}

p a {
    color: darkseagreen;
}

.form {
    width: 420px;
    height: 520px;
    padding-top: 60px;
    background-color: rgb(230, 230, 230);
    border: rgb(255, 255, 255) 3px solid;
    border-radius: 0px 50px 0px 50px;
    box-shadow: 15px 15px 20px 5px rgba(119, 119, 119, 0.3),
        -15px -15px 20px 5px rgba(255, 255, 255, 0.8),
        inset 5px 5px 20px 5px rgba(119, 119, 119, 0.3),
        inset -15px -15px 20px 5px rgba(255, 255, 255, 0.8);
}

.top-text,
.input,
.submit {
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    outline: none;
}

.top-text {
    font-size: 1.4rem;
    margin-bottom: 7px;
   font-weight: 700;
   color: slategray;
}

.input {
    font-weight: 700;
    font-size: 17px;
    margin-top: 10px;
    padding: 15px;
    background-color: rgb(233, 231, 231);
    width: 350px;
    border-radius: 30px;
    border: solid 3px rgb(255, 255, 255);
    box-shadow: inset 10px 10px 20px 0px rgba(119, 119, 119, 0.3),
        inset -10px -10px 20px 0px rgba(255, 255, 255, 0.8),
        15px 15px 20px 5px rgba(119, 119, 119, 0.3),
        -15px -15px 20px 5px rgba(255, 255, 255, 0.8);
    text-align: center;

    color: cadetblue;;
}

.submit {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 700;
    font-size: 25px;
    padding: 8px 15px;
    margin-top: 50px;
    background-color: rgb(233, 231, 231);
    transition: 0.5s;
    border: solid 3px rgba(255, 255, 255, 0);
    border-radius: 30px;
    color: cornflowerblue;
    text-shadow: 0 0 1px rgb(68, 68, 68);
}

.submit:hover {
    border: solid 3px rgb(255, 255, 255);
    box-shadow: 15px 15px 20px 5px rgba(119, 119, 119, 0.3),
        -15px -15px 20px 5px rgba(255, 255, 255, 0.8);
}

small {
    position: absolute;
    bottom: 0;
    right: 25px;
}